<a href="https://colab.research.google.com/github/kimhee96/NLP/blob/master/business_goal_tfidf_0803.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
from google.colab import auth
auth.authenticate_user()

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [17]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
import os
import pickle

In [19]:
#Data Load

data_path = os.path.join(os.getcwd(), 'drive','My Drive','business_goal')
tr = pd.read_csv(os.path.join(data_path,'train.csv'))
te = pd.read_csv(os.path.join(data_path,'test.csv'))

In [26]:
tr.head()

       X  ...  Category
0     68  ...         A
1   2758  ...         A
2   3984  ...         A
3   9282  ...         A
4  19041  ...         A

[5 rows x 6 columns]

In [27]:
te.head()

       X  ...  Unnamed: 5
0  74201  ...           A
1  74373  ...           A
2  74374  ...           A
3  74545  ...           A
4  74546  ...           A

[5 rows x 6 columns]

In [23]:
# GPU 상태확인
!nvidia-smi

Sun Aug  2 11:27:25 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.57       Driver Version: 418.67       CUDA Version: 10.1     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   34C    P8     9W /  70W |      0MiB / 15079MiB |      0%      Default |
|                               |                      |                 ERR! |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [24]:
!free -h

              total        used        free      shared  buff/cache   available
Mem:            12G        711M        9.7G        968K        2.3G         11G
Swap:            0B          0B          0B

In [25]:
# train 전체를 사용하면 램 용량때문에 session down이 일어난다. 
# 따라서 test데이터만 사용하여 성능을 확인한다. 
# test데이터의 70%를 train / 나머지를 test로 새로운 데이터를 만든다.  
sentences = te['category']
#양 끝 공백 제거
tr_sentences = [str(sentence.strip()) for sentence in sentences]

In [28]:
vect = TfidfVectorizer()
X = vect.fit_transform(tr_sentences)
X.todense()

matrix([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]])

In [29]:
labels = list(te['Unnamed: 5'])
uniq_labels = sorted(list(set(labels)))
labels_dict = {}
for i, e in enumerate(uniq_labels) :
  labels_dict[e] = i
tr_labels = list((pd.Series(labels)).map(labels_dict))

In [30]:
train_inputs, validation_inputs, train_labels, validation_labels = train_test_split(X,
                                                                                    tr_labels, 
                                                                                    random_state=2020, 
                                                                                  test_size=0.3)

In [31]:
# 모델 fitting
from sklearn.linear_model import SGDClassifier
model = SGDClassifier()
model.fit(train_inputs, train_labels)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [32]:
#RAM 용량 한계로 학습 모델 저장
modelname = 'sgd_base_model.sav'
pickle.dump(model, open(modelname, 'wb'))

In [33]:
#model load

modelname = 'sgd_base_model.sav'
model = pickle.load(open(modelname,'rb'))

y_pred = model.predict(validation_inputs)

In [34]:
y_pred.shape

(6374,)

In [36]:
len(validation_labels)

6374

In [37]:
from sklearn.metrics import accuracy_score

score = accuracy_score(validation_labels, y_pred)

In [38]:
score

0.6545340445560088